# Chapter 1 - EIA Process

If you want to build something you need to take into account the probable environmental impact of your scheme. There is all sorts of legislation and regulation governing what you can and cannot do, covering diverse topics like ecology, heritage, noise, air quality and so on. Bur binding all this together is the process of Environmental Impact Assessment (EIA), which itself is governed by legislation, regulation, and guidance. 

EIA is a staged process:

 * First is **screening** - do you need to do a full EIA in the first place? Some types of development _always_ need an EIA [[example]]; some types _never_ need an EIA [[example]]. Most types of development _may_ need an EIA, depending on factors like their size and likely environmental impact [[example]]
 * Next comes **scoping** - what are the probable significant impacts of the scheme? Only those aspects that are likely to entail "significant" (there's that word again) effects should be investigated fully. A development in an urban area might not have any impact on protected species, but if there are residents next door to the site then they may be really affected by noise and dust nuisance during construction. Conversely, a site in a rural area may affect local wildlife but if there are no neighbours, there is not likely to be any problems with noise disturbing people
 * Next comes the **Environmental Statement** (ES) itself. This reports the in-depth studies and assessments that have been carried out on the significant aspects identified during scoping. It then looks at what mitigation is required to minimise adverse environmental effects and maximise any beneficial ones

The EIA process is paid for by and undertaken on behalf of the developer as part of applying for planning permission. The ES will never conclude "this scheme is so bad you can't build it", that is for the planning authority to determine. In practice what happens is that either a scheme is dropped at an early stage if it becomes obvious that an EIA will identify serious problems for which the required mitigation would make the scheme unviable; or the planning authority will insist on planning conditions to mitigate environmental damage that make the scheme unviable.

Oxford Brookes University runs a two-day workshop on screening, scoping, and ES review. This takes you through the EIA process by using real-world examples to consider what the important factors are at each stage.

###Screening
Divided in to teams, we were all given a screening report that had been submitted by a developer to the local authority to request a _screening opinion_. A screening opinion is:

> a  written statement of the opinion of the relevant planning
authority as to whether development is EIA development (EIA Regulations 2011)

The proposed development entailed the installation of one "medium sized" wind turbine, with a hub height of 34 m and a maximum tip height of 51 m in Colstoun, East Lothian.

My first instinct was that the scheme _would_ require an EIA - it's fairly intrinsic to wind turbines that they be highly visible in the landscape. Unsurprisingly, the developer felt otherwise:

> The Proposed Development comprises only one medium sized wind turbine which has been sited in a location designed to have minimal impacts on the neighbouring social, cultural and ecological environment.

Our team also came to this conclusion, the location was fairly isolated and whilst there were going to be some receptors that would be affected we felt that this wouldn't be "significant".

After each team had come to their conclusion we presented our findings to the other groups. Every other team said that more information was needed, which is a legitimate response from the planning authority if it feels that they have not been presented with enough information to make a decision, but when pressed thought that no EIA was needed. We were bold and said that _no_, it didn't need an EIA. We felt that some risks we had identified could be adequately managed, and that whilst we would have liked further information we didn't think that it would actually have changed our minds.

As it turns out we were all wrong! The actual screening opinion from the planning authority was that it did require EIA. Still, it was a borderline scheme - which was why it was used in the workshop - and as Martin Broderick the course convenor said often, it's all subjective, although you need to justify your opinion.

###Scoping
The 2011 EIA Regulations state that:
> person who is minded to make an EIA application may ask the relevant planning authority to state in writing their opinion as to the information to be provided in the environmental statement (a “scoping opinion”). 

For scoping, we were given the front end of a real scoping report for the construction of an underground gas pipeline. The bulk of the report had been omitted, and our task was to decide what we thought could be scoped out.

From the report:
> The proposal is for a gas pipeline, connecting the National Transmission System to the site of the proposed [power station]. It is proposed that the pipeline will be approximately 800mm in diameter and buried for its entire length [28 to 30 km]. The minimum nominal depth of cover is expected to be 1.2m in agricultural land. The AGI [Above Ground Installation] will comprise a fenced compound containing above ground equipment, such as a pig launcher.

We had been advised to 'have some balls' when it came to scoping topics out, so we approached the task looking for reasons to leave things out rather than to include them. My own experience has been that Environmental Statements always end up longer than you really want them, so I'm all for cutting out as much as possible. I'm also a bit thrown by the wording of the regulations - in Schedule 4 ("Information for inclusion in Environmental Statements"), Part 2 lists the minimum information required and includes the statement:

> The data required to identify and assess the _main_ effects which the development is likely to have on the environment.

To me, _main_ and _significant_ are very different things; an effect could be considered significant without being one of the "main" effects of a scheme. However in searching the Regulations for "main" it doesn't seem to come up anywhere else, the term used is always "significant" so I guess that one line is a bit of an anomaly.

As we thought more about the construction of the scheme it became clear that actually there wasn't a whole lot we could scope out. However as it was an underground pipeline we managed to scope out more topics for the operational phase. We were slightly hampered by not having access to the background information, all we had was the proposed development, but that was enough to make some reasonable conclusions. Broadly, all the teams had similar opinions on this, althoug again I think our team was a bit more gung ho in scoping stuff out.

###Environmental Statement
I've decided to break this post up, so the final day's activities - reviewing an Environmental Statement, will be coming soon!

# Chapter 2 - High Value Tasks and Low Value Tasks

[_This is the first of a couple of posts I'm writing in order to get my head around a topic I rashly said I'd do a presentation on, so apologies for any incoherence that may result_]

I'm trying to think about work in terms of the different tasks that contribute to the final product, whatever that may be. In my case, as a consultant, that final product is a clear, focussed report that solves a client's problem (preferably the problem he's paying you to solve). But not all tasks are created equal - some really add value to your final product, and some just get in the way and are a distraction (even if you still need to do them). So we can think about work in terms of **high-value tasks** and **low-value tasks**.

###High-value tasks
These include all the things that the client or customer is paying you for - essentially the application of your knowledge and experience to address the problem at hand. In the context of environmental consultancy this might include:

* Studying the baseline conditions at the site
* Reviewing the design of the scheme the client wants to build
* Consulting with the planning authority and other statutory agencies who will have a say on the scheme
* Sitting down with your specialists to ensure that their inputs are consistent, don't overlap, and don't let anything fall between the gaps
* Liaising with the client so closely that as soon as they change the design you have found out and can respond accordingly
* Liaising with the client so closely that as soon as you identify a key risk you can work together to solve it
* Producing a shit-hot report that is clear to the client, clear to the client's client, clear to the client's regulators, and clear to the client's director who signs off the big cheques so you get paid and decides to come to you again

Those are the things that the client is paying you for - the high-value tasks - so why would you do anything else? Oh wait...

###Low-value tasks
That's a great list an' all we got up there, but really we're just glossing over a whole bunch of crap that we just need to get done dammit!

* Checking that everyone is using the correct site boundary because it changed after we started the scheme and one guy was off on holiday and he might have missed the update email so we need to chase
* Fixing a load of poor formatting in the report document
* Making sure you have incorporated the latest changes from the specialists, especially if you had to go back to them with comments
* Keeping track of tracked changes, because after several drafts and reviews it just becomes a mess
* Emailing review comments for specialists to address because not everyone has access to the master document
* ...and so on

####So, erm, why do we do low-value tasks?
I've often wondered! I think that the common factor of low-value tasks is that they are not related directly to what you are trying to achieve, instead _they are related to the **processes** you use to achieve your goal_.

And compiling a multi-author multi-review document **is** a process, often quite a convoluted one, and one that it is critical to get right so that you can have faith in the report that goes to the client. It can feel like we have vey little control over this process, after all our work computers provide us with Word, email, and network drives - these are the tools, how else are we supposed to use them? And _are_ there even other tools available?

# Chapter 3 - Low Value Task Processes
[_This is the second in a short series of posts trying to get my thoughts together for a talk. Talk is closer than I would like!!_]

So in my last post I discussed how the process of creating a report can be divided into high-value tasks and low-value tasks.

My conclusion was that the high-value tasks were the things your client was actually paying you for; whereas the low-value tasks were the result of the processes you used to actually get it done and out of the door - things like formatting, keeping track of versions, getting comments to and amendments from various specialists. These low-value tasks are necessary - you need to get your report to capture all the relevant information and interpretation and this required some hum-drum work; we can't yet commune telepathically with our colleagues and the client to just transfer the knowledge brain to brain (Google working on this perhaps?).

Something I don't think I covered last time was that low-value tasks are also frequently **bottlenecks**. If you are coordinating a report, you want to avoid causing bottlenecks wherever possible. A bottleneck is where you need to do something to then pass a task on to someone else; for example if you need to review comments from the client on a draft report in order to determine which comments you can't address yourself and need to refer back to the specialists. If you don't get on and do it you're causing a bottleneck because your specialists can't help you until you've done your bit. Theoretically this might not be much of a problem, but when people are on leave or suddenly get pulled onto another project your delay might mean you miss the one window they had that week to help you out. If you need someone to complete what is for them a five-minute task, but which they can't address for a week because they are working out of a client office on another project suddenly, as far as you and your programme are concerned, it's not a five-minute task it's a week-long task! As such the more you can do to reduce your bottlenecks the more likely you are to avoid these situations.

So the aim is to maximise the time you can spend on high-value tasks.

>Assuming a constant budget, _the only way to do this is to minimise the amount of time you need to spend on low-value tasks_.

In this post I'll be looking at how the typical processes used in a standard office contribute to the amount of low-value tasks you need to accomplish.

I reckon the typical IT setup you have in your office is as follows:

* "Productivity suite" is Office Something, so basically Word, Excel and Outlook
* Shared network drives that allow multiple users across different sites to access the same files, except with patchy access privileges that require a ticket to be raised with your IT department to resolve

Assuming this, I'd predict that:

* Teams in different locations or departments don't share a common project folder but instead keep their work in their own separate folders somewhere on the network
* Files are shared or submitted for review via email
* you try your best to educate people to **track their damn changes** when submitting revisions, but even if they do eventually you need to save a new version and accept all changes because it's just getting too messy. [Still, it's better than the people who highlight their changes in yellow - **damn you all!!**]
* Everyone uses their own version numbering - "A", "1", "0.1", "A + changes", "B + changes + [reviewer initials]" which are impossible to follow in your own master document versioning

Still, through bitter experience you generally have people sufficiently trained to track their changes and use comment bubbles not in-line comments with yellow highlighting.

The thing is, this arrangement works. Eventually. You are conscientious, and the report ends up done, dusted, and more or less on time to a standard you can be pleased with. But you have busted yo' ass churning through a bunch of low-value tasks to get there, and that means there is less time for the high-value tasks that really add, well, _value_ to the report!

**So looking at the list above, how does this approach generate so many low-value tasks?**

It is so much harder to keep track of versions. For a recent report I did a quick count and I identified about 50 Word documents that were some version or other of the same report. Sure, that includes contributions from nearly 10 teams but still. It double-counts to some degree because I included those I had been emailed plus the same version I then saved to the network drive. Yeah they are the same, but then I have now created an extra version of it which is even worse.

Also, if teams are working largely independently then having each team's work in their own local drive adds an extra layer of difficulty to collaboration. If teams can see each other's work then they are more likely to review it and start to collaborate. If not, then your low-value task kicks in of reviewing each submission as it comes in and cross checking each one to see if they are consistent.

Word is rubbish for comments and changes. To clarify, it is much better to use comments and track your changes than to not do so. But the way it works means that if you keep all your changes tracked the document gradually becomes unreadable. This means that at various points you have to just save as a new version and accept all changes, which means that you have to look back at multiple older versions if you are trying to track down a rogue change or confirm something.

And comments. Great for notes to yourself, but as with tracked changes comments multiply aggressively as versions get passed back and forth, again eventually necessitating a clean new version with comments removed. Comments are also bottlenecks, because you have to review all the comments and notify the relevant team or person who needs to address it (because everyone is working off different drives with different versions remember?).

All of this faff means that you spend far too much time cross-checking versions, making sure everyone is aware of the latest one when you ask for more changes, you create bottlenecks, and teams don't see each other's work, reducing the scope for collaboration.

**It gets done, but isn't there a better way?**

Edit
